.scrollContainer {
  padding: 5px;
  background: #000000;
  border-radius: 25px;
  width: 80px;  /* Adjust the width as needed */
  height: 25px; /* Adjust the height as needed */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  overflow-x: scroll;  /* Enable horizontal scrolling */
  overflow-y: hidden;  /* Disable vertical scrolling */
  white-space: nowrap;
  position: relative;
}

/* Invisible scrollbar with the height covering the entire container */
.scrollContainer::-webkit-scrollbar {
  height: 100%;  /* Set the height of the scrollbar (horizontal) */
  background: transparent;
  position: absolute;

}

.scrollContainer::-webkit-scrollbar-thumb {
  background: transparent;  /* Make the thumb invisible */
  border-radius: 10px;
}

.scrollContainer::-webkit-scrollbar-track {
  background: transparent;  /* Hide the track background */
}


.product {
  flex-shrink: 0; /* Prevents the items from shrinking */
  margin: 0 2px; /* Adds spacing between items */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3), /* Outer shadow */
    inset 0 -2px 5px rgba(0, 0, 0, 0.5); /* Inner shadow */
}

.productCount {
  font-family: 'Arial', sans-serif; /* Elegant, clean font */
  font-size: 8px; /* Smaller font size */
  font-weight: 300; /* Lighter weight for elegance */
  color: #666666; /* Subtle, soft text color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Optional: to remove any padding */
  letter-spacing: 0.5px; /* Adds a little spacing for a clean look */
}

.handle {
  top: 50%;
  transform: translateY(-50%);
  background: rgb(138, 138, 138);
}

.addButton {
  background-color: white;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  width: 10px; /* Adjusted size for better visibility */
  height: 10px; /* Adjusted size */
  position: absolute; /* Position button within the scrollContainer */
  left: 50%; /* Centers horizontally */
  transform: translateX(-50%); /* Precisely centers horizontally */
}


.addButton:hover {
  background-color: #808080; /* Darker gray on hover */
}

.emptyMessage {
  font-size: 10px;
  color: gray;
  text-align: center;
  margin: auto;
}
